img {
  display: block;
  max-width: 100%;
  height: auto;
}

.gallery__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: -15px;
  padding-left: 0;
  list-style: none;
}

.gallery__item {
  flex-basis: calc((100% - 15px * 6) / 3); /* 15px - cards margin */
  margin: 15px;
}

#validation-input {
  border: 3px solid #bdbdbd;
  border-radius: 3px;
}

#validation-input:focus {
  outline: none;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
